@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Tables Style Sheet
   Author: Steven Scoville
   Date:   12/13/2025

   Filename:         dlr_tables.css

*/

/* Table Styles */



/* Table Cell Styles */



/* Table Caption Styles */



/* Row Group Styles */



/* Column Group Styles */

