/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Steven Scoville
   Date:   12/13/2025

   Filename:         rb_forms.css

*/

/* Form Layout Styles */

div.formRow {
   display: flex;
   flex-flow: row wrap;
   margin: 7px 0px;
}

/* Legend Styles */



/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */

