@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: Steven Scoville
   Date:   11/07/2025
   
   Filename: pc_reset.css

*/

/* Structural Styles */




/* Typographic Styles */

