@charset "UTF-8";

/*
    Author:         Steven Scoville
    Date Completed: 12/16/2025
    Required Files: finalExam.html
    Description:    Base stylesheet for CSC230 Final Exam project
*/

/* Body Styles */

body {
    width: 85%;
    margin: 0 auto;
    background-color: #2f3e4e;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
