@charset "UTF-8";

/*
    Author:         Steven Scoville
    Date Completed: 12/16/2025
    Required Files: finalExam.html
    Description:    Base stylesheet for CSC230 Final Exam project
*/

/* Body Styles */

body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 16pt;
    color: #000000;
    width: 85%;
    margin: 0 auto;
    background-color: #2f3e4e;
}

