@charset "UTF-8";

/*
    Author:         Steven Scoville
    Date Completed: 12/16/2025
    Required Files: finalExam.html
    Description:    Base stylesheet for CSC230 Final Exam project
*/

/* Body Styles */

body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 16pt;
    color: #000000;
    width: 85%;
    margin: 0 auto;
    background-color: #2f3e4e;
}

/* Header Styles */

header {
    background-color: #d6e1ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    margin: 35px 0 0 0;
    padding: 15px 0 0 15px;
    color: #000000;
}

header h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    margin: 0;
    padding: 0 0 15px 15px;
    color: #000000;
}

header img {
    float: right;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 15px;
}

/* Navigation Styles */

nav {
    background-color: #d6e1ec;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

