@charset "UTF-8";

/*
    Author:         Steven Scoville
    Date Completed: 12/16/2025
    Required Files: finalExam.html
    Description:    Base stylesheet for CSC230 Final Exam project
*/

/* Styles will be added in later branches */
